
*, :before, :after {
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}

a {
    color:#EBF5DF;
}

a:hover, a:active, a:focus {
    color:#0CF574;
    text-decoration: none; 
}


@media(min-width:768px){
    .header{
        float:right;
    }
    .footer {
        float:left;
    }

    
}


@media(min-width:768px){
    .header{
        position:fixed;
        top:0;
    }
    
    .header,.container, .inner.cover, {
        width:100%;
        min-height: 100%;
        position: relative;
    }
    .footer {
        float: left;
    }
}

@media(min-width:992px){
    .header,.container{
        width:700px;
        min-height: 100%;
        position: relative;
    }
}


/* body and body* set background color and font size*/
body {
  font-size: 150%;
  line-height: 1.8em;
  background: #F0A202;
  height: 100%;
}

/* below controls nav menu & border above it */
* header#header nav ul li {
  border-top: 1px solid #EBF5DF;
  list-style-type: none;
  display: block;
}
nav a {
    color: #EBF5DF;
}

ul#primary.row {
    float: right;
    padding-right: 60px;
    position:relative;
}

/* below controls content of each page */

div.inner.cover {
    color: #EBF5DF;
    margin-right: 60px;
    margin-left: 60px;
}

/* below controls navigation sub-menues */
header#header nav #primary li ul {
  display: none;
}
/* below controls nav menu lines */
header#header nav #primary li:hover,
header#header nav #primary li.active {
  border-color: #0CF574;
  color: #0CF574;
  
}

/* below gives sub-menues display */
header#header nav #primary li:hover ul,
header#header nav #primary li.active ul {
  display: block;
  padding: 0;
  position: absolute;
}

/* below gives menu color when hovering */
header#header nav #primary li:hover > a,
header#header nav #primary li.active > a {
  color: #0CF574;
}

/* controls menu bar sizing and layout */
*.row > [class*="span"] {
  display: inline;
  float: left;
  margin-left: 10px;
}

.span2 {
  width: 100px;
}

footer {
     position:absolute;
     bottom:0;
     width:1232px;
     height:60px;   /* Height of the footer */
   
}

footer a {
    color: #EBF5DF;
    display: inline;
}

footer a:hover, a:active {
    color: #0CF574;
    text-decoration: none;
}

footer p {
    margin-left: 550px;
}

hr {
    margin-bottom: 10px;
    margin-top: 10px;
    height: 1px;
    color: #EBF5DF;
    background-color: #EBF5DF;
    border: none;
    min-width: 100%;
    margin-left: -300px;
    margin-right: -300px;
}

/* what was here before */

/* Keep below - controls smooth transition*/
.site-wrapper {
    display:table;
    width:100%;
    height:100%;
    min-height:100%;
}

/* Keep below - controls position of navigation*/
.inner {
    padding:30px;
    
}

/* keep for now - may need to remove later once figure out how to get nav to the right of the screen*/
.cover-container {
    margin-right:auto;
    margin-left:auto;
}

/* keep - leaves padding from top of menu bar to content of page*/
 .cover {
     padding: 20px;
 }
 
 div.smooth {
     min-height: 100%;
     position: relative;
 }

.smooth#index .site-wrapper {
     background-image:url(https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/13062018_983095058411498_2875076934618378839_n.jpg?oh=98ac4c797d34ff152f9ac6cb5afc982b&oe=5873E68B);
     -moz-background-size:cover;
     -o-background-size:cover;
     background-size:cover;
     background-position:center;
     min-height: 56px;
 }

/* HomePage */
p.cover-heading {
    margin-top: 150px;
    font-size: 600%;
}

p.title {
    font-size: 200%;
    margin-top: 55px;
    margin-left: 160px;
}

.site-wrapper {
    position: relative;
    width: 100%;
}


/* About Me */

img.me {
    border-radius: 5%;
    height: 40%;
    width: 40%;
    margin-left: 150px;
    float: left;
    max-width: 100%;
}

div.me-photo {
    width: 100%;
}

div.photo > * {
    display: inline-block;
}

div.photo h1.cover-heading{
    display: inline-block;
    float: left;
    margin-right: 200px;
}

div.about-me{
    display: inline-block;
    padding-right: 100px;
}


p.right-lead {
   font-size: large;
   color: #EBF5DF;
   max-width: 400px;
   display: block;
   text-align: left;
   margin-bottom: 10px;
}

div.dev-back ul {
    display: inline-block;
    float: left;
    list-style-type: none;
    text-align: left;
    max-width: 300px;
    margin-top: 20px;
    padding-left: 0;
    position: absolute;
}

ul.back-end {
    margin-left: 250px;
}

div.dev-back {
    display: inline;
    vertical-align:top;
    float: right;
    margin-top: 10px;
}

/* Makes Title of skills large */
li.back, li.front {
    font-size: large;
    border-bottom: 1px solid #EBF5DF;
    border-top: 1px solid #EBF5DF;
    margin-top: 20px;
}

/* Works Page */

p.key {
    font-size: 150%;
    margin-bottom: 10px;
    display: block;
    max-width: 25%;
}

p.clock {
    font-size: 150%;
    margin-bottom: 10px;
    display: block;
    max-width: 25%;
}

p.form {
    font-size: 150%;
    margin-bottom: 10px;
    display: block;
    max-width: 25%;
}
 img.key {
     width: 100%;
     display: block;
 }

 img.clock {
     width: 100%;
     display: block;
 }

 img.form {
     width: 100%;
     display: block;
     
 }
ul.slide_imgwrap li {
    max-width: 25%;
    list-style-type: none;
    display: inline-block;
    margin-left: 50px; 
    vertical-align: top;
    margin-top: 40px;
}

ul.slide_imgwrap p {
    max-width: 100%;
}

ul.slide_imgwrap {
    display: inline;
    
}







/* Contact Page */

ul.links li {
    color: #EBF5DF;
    font-size: 250%;
    list-style-type: none;
    display: inline-block;
    margin-top: 30px;
    margin-left: 100px;
}

ul.links {
    margin-left: 270px;
    margin-top: 60px;
}



h1.cover-heading {
    font-size: 600%;
}


/*
slide_img-inner {
    background-image: url(images/form-main.png);
    background-image: url(images/clock-pink.png);
    background-image: url(images/clock-purple.png);
    background-image: url(https://scontent.fhou1-2.fna.fbcdn.net/v/t1.0-9/12112445_887676661286672_7276285292127940867_n.jpg?oh=9fd1d8b9e0bcac318cf458554dd0908d&oe=5866B660);
    background-image: url(https://scontent.fhou1-2.fna.fbcdn.net/v/t1.0-9/10269513_737576889629984_663488553481260588_n.jpg?oh=0f446fd03189244e5c0f5e23d2a5505a&oe=58725183);
*/  


/* http://tympanus.net/Development/MultiLayoutSlideshow/ for slideshow css and html*/